<div class="container mt-5">
    <h2>Buscar Pacientes Personalizada</h2>
    <form (ngSubmit)="search()">
      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select class="form-control" id="sexo" [(ngModel)]="sexo" name="sexo">
          <option value="">Seleccionar</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha de Ingreso:</label>
        <input type="date" class="form-control" id="fechaIngreso" [(ngModel)]="fechaIngreso" name="fechaIngreso">
      </div>
      <div class="form-group">
        <label for="enfermedad">Enfermedad:</label>
        <input type="text" class="form-control" id="enfermedad" [(ngModel)]="enfermedad" name="enfermedad">
      </div>
      <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </form>
    <div *ngIf="lista_pacientes.length > 0">
        <h3>Resultados de la búsqueda:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of lista_pacientes">
              <td>{{ paciente.rut }}</td>
              <td>{{ paciente.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    
    <div *ngIf="lista_pacientes.length === 0">
        <p>No se encontraron resultados.</p>
    </div>
  </div>
  