<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span (click)="volver()">Hospital El Alerce</span>
      <span class="spacer"></span>
      <button mat-raised-button class="btn ms-2" (click)="crear_paciente()">Nuevo Paciente</button>
      <button mat-raised-button class="btn ms-2" (click)="listar_todos()">Listar Todos</button>
      <button mat-raised-button class="btn ms-2" (click)="buscar_personalizada()">Busqueda Personalizada</button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet />
