<div class="container mt-5">
    <h2>Detalle del Paciente</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombrew: {{ paciente.nombre }}</h5>
        <p class="card-text"><strong>RUT:</strong> {{ paciente.rut }}</p>
        <p class="card-text"><strong>Sexo:</strong> {{ paciente.sexo }}</p>
        <p class="card-text"><strong>Enfermedad:</strong> {{ paciente.enfermedad }}</p>

        <button class="btn btn-primary me-3" (click)="editarPaciente(paciente._id)">Editar</button>
        <button class="btn btn-danger" (click)="eliminarPaciente(paciente._id)">Eliminar</button>
      </div>
    </div>
  </div>
  